<a href="https://colab.research.google.com/github/levchenkoov/study_project/blob/main/%D0%98%D1%82%D0%BE%D0%B3%D0%BE%D0%B2%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_2_1_%D0%9B%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE_%D0%9E_%D0%92_ABD_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Загрузите в колаб файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [ ]:
import pandas as pd

In [ ]:
df_m = pd.read_csv("u.item.csv", delimiter='|',names=['movie_id', 'movie_title', 'release_date', 'video_release_date',
              'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation',
              'Childrens' , 'Comedy', 'Crime', 'Documentary',  'Drama',  'Fantasy',
              'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
              'Thriller', 'War', 'Western'], encoding='latin-1')

In [ ]:
df_r = pd.read_csv("u.data.csv", delimiter='\t',names=['user_id',  'movie_id', 'rating',  'timestamp'])

In [ ]:
df_m.head()

   movie_id        movie_title release_date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [ ]:
df_r.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

2. Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [ ]:
df_r1=df_r[['user_id', 'rating']].groupby('user_id').count ()

In [ ]:
df_r1.sort_values('rating', ascending=False).head(1)

         rating
user_id
405         737

3. Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [ ]:
df_r_405=df_r[df_r.user_id== 405][['user_id', 'movie_id']]
df_r_405. head()

       user_id  movie_id
12276      405        56
12383      405       592
12430      405      1582
12449      405       171
12460      405       580

4. Добавьте к датафрейму из задания 3 столбцы:
●	По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет
●	столбцы с общим количеством оценок от всех пользователей на фильм и суммарной оценкой от всех пользователей

In [ ]:
df_m1=df_m[[ 'movie_id', 'movie_title',  'unknown', 'Action', 'Adventure', 'Animation',
              'Childrens' , 'Comedy', 'Crime', 'Documentary',  'Drama',  'Fantasy',
              'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
              'Thriller', 'War', 'Western']]

In [ ]:
df1=df_r_405.merge(df_m1, how = 'left')
df1.head()

   user_id  movie_id  ... War  Western
0      405        56  ...   0        0
1      405       592  ...   0        0
2      405      1582  ...   0        0
3      405       171  ...   0        0
4      405       580  ...   0        0

[5 rows x 22 columns]

In [ ]:
df3= df_r2.groupby('movie_id').agg({'rating' : ['mean' , 'count']})
df3.head()

            rating
              mean count
movie_id
1         3.878319   452
2         3.206107   131
3         3.033333    90
4         3.550239   209
5         3.302326    86

In [ ]:
df2=df3.reset_index()
df2.head()

  movie_id    rating
                mean count
0        1  3.878319   452
1        2  3.206107   131
2        3  3.033333    90
3        4  3.550239   209
4        5  3.302326    86

In [ ]:
df=df1.merge(df2, left_on= 'movie_id', right_on='movie_id',  how= 'left')
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

   user_id  movie_id  ... (rating, mean)  (rating, count)
0      405        56  ...       4.060914              394
1      405       592  ...       3.333333                9
2      405      1582  ...       1.000000                1
3      405       171  ...       3.876923               65
4      405       580  ...       3.375000               32

[5 rows x 24 columns]

5. Сформируйте X_train, X_test, y_train, y_test

In [ ]:
df.columns

Index([          'user_id',          'movie_id',       'movie_title',
                 'unknown',            'Action',         'Adventure',
               'Animation',         'Childrens',            'Comedy',
                   'Crime',       'Documentary',             'Drama',
                 'Fantasy',         'Film-Noir',            'Horror',
                 'Musical',           'Mystery',           'Romance',
                  'Sci-Fi',          'Thriller',               'War',
                 'Western',  ('rating', 'mean'), ('rating', 'count')],
      dtype='object')

In [ ]:
X, y = df[['unknown',            'Action',         'Adventure',
               'Animation',         'Childrens',            'Comedy',
                   'Crime',       'Documentary',             'Drama',
                 'Fantasy',         'Film-Noir',            'Horror',
                 'Musical',           'Mystery',           'Romance',
                  'Sci-Fi',          'Thriller',               'War',
                 'Western']], df[('rating', 'mean')]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.head()

     unknown  Action  Adventure  Animation  ...  Sci-Fi  Thriller  War  Western
413        0       0          0          0  ...       0         0    0        0
571        0       0          0          0  ...       0         0    0        0
196        0       0          0          1  ...       1         0    0        0
342        0       0          0          0  ...       0         1    0        0
410        0       1          0          0  ...       0         0    0        0

[5 rows x 19 columns]

In [ ]:
6. Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.predict(X_test)

array([2.84618653, 3.21333685, 2.84620613, 2.91254137, 3.21333685,
       3.52616549, 3.21333685, 3.18918308, 2.69774099, 2.69774099,
       3.03526712, 3.03526712, 2.91254137, 3.04778625, 3.15683025,
       2.91254137, 3.85647063, 3.03526712, 3.42764854, 3.22318509,
       3.21333685, 3.03526712, 3.03526712, 2.91254137, 3.15683025,
       3.04778625, 3.15683025, 3.03526712, 3.72844401, 3.03526712,
       3.03526712, 2.91254137, 2.69774099, 3.43467195, 3.15683025,
       2.90043324, 3.00004746, 2.95683121, 3.0906111 , 3.03526712,
       3.0012651 , 2.77770749, 3.39359149, 3.4079224 , 3.03526712,
       3.0906111 , 3.22318509, 2.91254137, 3.22318509, 3.03526712,
       2.91254137, 3.18857843, 3.13262145, 3.21333685, 3.0177259 ,
       3.16438923, 3.03526712, 3.04778625, 2.88565896, 3.03526712,
       2.87848433, 2.77770749, 2.98104001, 3.32281891, 3.03526712,
       3.03526712, 3.0906111 , 2.91254137, 3.03526712, 3.15683025,
       2.82197773, 3.49614717, 3.03526712, 2.58978952, 3.03526712,
       2.91254137, 2.7004146 , 3.68381629, 3.21217423, 3.0906111 ,
       3.04778625, 2.91254137, 2.91254137, 2.84618653, 3.54348067,
       3.07839434, 3.30098109, 2.91254137, 3.93896561, 3.04778625,
       3.25493328, 2.69774099, 3.03526712, 3.08680958, 2.45003343,
       2.84620613, 2.91254137, 3.0906111 , 3.0906111 , 3.03526712,
       3.13748723, 3.22318509, 3.0906111 , 2.45003343, 2.77770749,
       3.0906111 , 3.0906111 , 2.90043324, 2.69774099, 3.0419347 ,
       3.03526712, 2.91254137, 2.95683121, 2.45003343, 3.03526712,
       3.16805993, 2.88833257, 2.84618653, 2.88565896, 3.1361093 ,
       3.62109652, 2.77770749, 3.16805993, 3.55037429, 3.22318509,
       2.7004146 , 3.37765903, 2.91254137, 3.0401329 , 3.21333685,
       3.0906111 , 3.0906111 , 3.35714052, 3.0906111 , 3.21333685,
       3.30098109, 3.03526712, 2.91254137, 2.82197773, 3.03526712,
       3.1361093 , 3.21333685, 2.7004146 , 3.03526712, 2.98104001,
       3.03526712, 2.7004146 , 2.88833257])

In [ ]:
7. Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_train, model.predict(X_train))

0.5772501284169387